p,
h1 {
  margin: 0;
}

header {
  background: #76b9f5;
  padding: 10px 20px;
  color: #ffffff;
}

main {
  padding: 10px;
}

ul {
  padding: 0;
}

.createSection {
  display: flex;
  flex-direction: row;
}

.createSection input {
  width: 100%;
  padding: 5px;
}
